cos-calendar-mule/src/main/app/cos_savebranchcalendarschedule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">



<flow name="saveBranchCalendarSchedule">
    <logger message="----------start" level="INFO" doc:name="Logger"/>
    <dw:transform-message doc:name="Transform Message">
        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.newSchedule]]></dw:set-payload>
    </dw:transform-message>
    <set-variable variableName="newSchedule" value="#[payload.newSchedule]" doc:name="Variable"/>
    <foreach collection="payload" doc:name="For Each">
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[${sql.saveBranchScheduleInfo}]]></db:parameterized-query>

        </db:update>
            <db:update config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[${sql.updateAllBranchReport}]]></db:parameterized-query>
            </db:update>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </foreach>
    <logger message="--------------------end" level="INFO" doc:name="Logger"/>
</flow>

    



</mule>
