cos-calendar-mule/src/main/app/cos_savetaskquantity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="saveTaskQuantity">
    <dw:transform-message doc:name="Transform Message">
        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
    </dw:transform-message>
    <set-payload value="#[payload]" doc:name="Set Payload"/>
    <set-variable variableName="id" value="#[payload.id]" doc:name="Variable"/>
    <choice doc:name="Choice">
        <when expression="payload.id == 0">
            <logger level="INFO" doc:name="Logger"/>
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[${sql.saveTaskQuantity}]]></db:parameterized-query>
            </db:insert>
        </when>
        <otherwise>
            <logger level="INFO" doc:name="Logger"/>
            <db:update config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[${sql.updataTaskQuantity}]]></db:parameterized-query>
            </db:update>
        </otherwise>
    </choice>
</flow>
</mule>
