cos-calendar-mule/src/main/app/cos_deleteschdule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


<flow name="deleteSchdule">
    <dw:transform-message doc:name="Transform Message">
        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
    </dw:transform-message>
    <set-variable variableName="id" value="#[payload.id]" doc:name="Variable"/>
    <set-variable variableName="userId" value="#[payload.userId]" doc:name="Variable"/>
    <set-variable variableName="timeStamp" value="#[payload.timeStamp]" doc:name="Variable"/>
    <db:delete config-ref="MySQL_Configuration" doc:name="Database">
        <db:parameterized-query><![CDATA[${sql.deleteCalenderSchedule}]]></db:parameterized-query>
    </db:delete>
    <db:update config-ref="MySQL_Configuration" doc:name="Database">
        <db:parameterized-query><![CDATA[${sql.updateReduceCount}]]></db:parameterized-query>
    </db:update>

</flow>

    


</mule>
