cos-calendar-mule/src/main/app/cos_getdayschedule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.9.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <flow name="getDaySchedule" initialState="started" doc:description="&#21592;&#24037;&#28857;&#20987;&#33719;&#21462;&#24403;&#22825;&#26085;&#31243;">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <set-variable variableName="rid" value="#[payload.rid]" doc:name="Variable"/>

        <choice doc:name="Choice">
            <when expression="payload.rid == 2">
                <logger message="ssss" level="INFO" doc:name="Logger"/>
                <db:select config-ref="MySQL_Configuration" doc:name="maDatabase">
                    <db:parameterized-query><![CDATA[${sql.managerDaySchedule}]]></db:parameterized-query>
                </db:select>

            </when>
            <when expression="payload.rid == 3">
                <db:select config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[${sql.getAllBranchSchedule}]]></db:parameterized-query>
                </db:select>
            </when>
            <otherwise>
                <db:select config-ref="MySQL_Configuration" doc:name="staffDatabase" doc:description="&#28857;&#20987;&#26597;&#30475;&#27599;&#22825;&#26085;&#31243;">
                    <db:dynamic-query><![CDATA[${sql.staffDaySchedule}]]></db:dynamic-query>
                </db:select>

                <logger message="is null" level="INFO" doc:name="Logger"/>

            </otherwise>
        </choice>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>





</mule>
